<nav class="navbar is-info" role="navigation">
  <div class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item">
        <a class="navbar-link is-arrowless" routerLink="/left">
          Left Page
        </a>
      </div>
    </div>



    <div class="navbar-brand">
      <a class="navbar-link is-arrowless" routerLink="/about">
        About
      </a>
    </div>





    <div class="navbar-end">
      <div class="navbar-item">
        <a class="navbar-link is-arrowless" routerLink="/right">
          Right Page
        </a>
      </div>
    </div>
  </div>
</nav>


<main [@routeAnimations]="prepareRoute(outlet)" class="content">
  <router-outlet #outlet="outlet"></router-outlet>
</main>

